.benefits {
    @include flex();
    &__item {
        font: 18px $ps;
        width: 25%;
        padding: 0 10px;
        &__img {
            display: block;
            height: 130px;
            text-align: center;
            margin-bottom: 25px;
            &:before {
                display: inline-block;
                vertical-align: middle;
                height: 100%;
                content: "";
                margin-right: -2px;
            }
            img {
                max-width: 99%;
            }
        }
    }
}