         
.mainHeader {
    @include position(fixed, 0, 0, auto, 0);
    height: 90px;
    box-shadow: 0px 1px 5px 0px rgba(38, 47, 49, 0.5);
    background-color: #FFF;
    z-index: 100;
    -webkit-transition: all .2s;
       -moz-transition: all .2s;
        -ms-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
    .wrapper {
        height: 100%;
        padding: 0 30px;
        @include flex();
    }
    @media (max-width: 980px) {
        height: auto;
        top: -100%;
        background-color: rgba(255,255,255,.9);
        padding: 20px 0;
        .wrapper {
            display: block;
        }
        &.active {
            top: 0;
        }
    }
}



/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
    @media (min-width: 981px) {
      height: 100%;
    }

    ul {
        list-style-type: none;
        margin: 0;

        @media (min-width: 981px) {
            height: 100%;
        }


        li {
            display: inline-block;
            vertical-align: top; 

            @media (min-width: 981px) {
                height: 100%;
            }
            a {
                display: inline-block;
                font-size: 18px;
                color: $text;
                margin: 0 15px;
                position: relative;
                -webkit-transition: color 0.3s ease;
                -o-transition: color 0.3s ease;
                transition: color 0.3s ease;

                @media (min-width: 981px) {
                    height: 100%;
                    padding: 34px 0 0;
                }

                &:hover {
                  color: $accent;
                }

                &:after {
                  content: '';
                  width: 0;
                  left: 50%;
                  bottom: 0;
                  -webkit-transform: translateX(-50%);
                  -ms-transform: translateX(-50%);
                  -o-transform: translateX(-50%);
                  transform: translateX(-50%);
                  height: 2px;
                  background-color: $accent;
                  -webkit-transition: width  0.3s ease;
                  -o-transition: width  0.3s ease;
                  transition: width  0.3s ease;
                  position: absolute;
                }

                @media (min-width: 981px) {
                  &:hover:after {
                    width: 100%;
                  }
                }
                @media (max-width: 980px) {
                    font-size: 20px;
                    line-height: 32px;
                }
            }
        }
    }
}

.logo {
    @media (max-width: 980px) {
        display: block;
        margin: 0px auto 20px;
    }
}

.tel {
    font: 18px $ps;
    color: $text;
    @media (max-width: 980px) {
        display: block;
        margin-top: 10px;
    }
}



/* ------------------------------------ */
/*  MENU BUTTON  */
#menu-toggle {
  * {
      transition: .1s ease-in-out;
  }
  @include position(fixed, 10px, 10px, auto, auto);
  display: none;
  width:48px;
  height:36px;
  padding: 6px 4px;
  cursor:pointer;
  text-align: right;
  z-index: 101;
  background-color: #FFF;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  @media (max-width: 980px) {
      display: block;
  }
  span {
      display: block;
  }
  #hamburger {
    position:absolute;
    height: auto;
    width:70%;
    top: 8px;
    z-index: 2;
    left: 0;right: 0;
    margin: auto;
    span {
      width:100%;
      height:2px;
      position:relative;
      top:0;
      left:0px;
      background: $text;
      &:nth-child(1){
        transition-delay:.5s;
        margin-top: 0;
      }
      &:nth-child(2){
        transition-delay:.625s;
        margin: 7px 0;
      }
      &:nth-child(3){
        transition-delay:.75s;
        margin-bottom: 0;
        float: right;
        width: 80%;
      }
    }
    &:hover {
        span {
            -webkit-animation: move linear 1s infinite;
               -moz-animation: move linear 1s infinite;
                 -o-animation: move linear 1s infinite;
                    animation: move linear 1s infinite;
        }
        :nth-child(1)              {   
           -webkit-animation-delay: 0s;
           -moz-animation-delay: 0s;
             -o-animation-delay: 0s;
                animation-delay: 0s;}
        :nth-child(2)           {   
           -webkit-animation-delay: .2s;
           -moz-animation-delay: .2s;
             -o-animation-delay: .2s;
                animation-delay: .2s;}
        :nth-child(3)          {   
            -webkit-animation-delay: .4s;
           -moz-animation-delay: .4s;
             -o-animation-delay: .4s;
                animation-delay: .4s;}
      }
    }
  #cross {
    position:absolute;
    width:100%;
    height:70%;
    left: 4px;right: 0;
    top: 11px;
    margin: auto;
    transform:rotate(45deg);
    span{
      background: $text;
      &:nth-child(1){
        height:0%;
        width:2px;
        position:absolute;
        top: -6px;
        left: 17px;
        transition-delay:0s;
      }
      &:nth-child(2){
        width:0%;
        height:2px;
        position:absolute;
        left: 1px;
        top: 10px;
        transition-delay:.25s;
      }
    }
  }
}

#menu-toggle.active {
  #hamburger {
    span {
      width:0%;
      &:nth-child(1){
        transition-delay:0s;
      }
      &:nth-child(2){
        transition-delay:.125s;
      }
      &:nth-child(3){
        transition-delay:.25s;
      }
    }
  }
  #cross {
    span {
      &:nth-child(1){
        height:35px;
        transition-delay:.625s;
      }
    }
    span {
      &:nth-child(2){
        width:35px;
        transition-delay:.375s;
      }
    }    
  }
}