.thanks-page {
    padding-top: 0;
}
.thanks {
    background-image: url(../images/thanks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.thanks-text {
    font-size: 24px;
    color: #fff;
    font-family: $pl;
    padding: 90px 0 70px;
}