// COLORS
// ---------------------------
$text : #262f31;
$textL: #414141;
$accent: #ed1c24;

// FONTS
// ---------------------------
$cg:           'Century Gothic';
$pr:           'Proxima Nova Rg';
$pl:           'Proxima Nova Lt';
$pb:           'Proxima Nova Bd';
$ps:           'Proxima Nova Sb';


// RESPONSIVE
// ---------------------------
